@page
@model IndexModel

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestel Platform</title>

    <link rel="stylesheet" href="~/css/style.css">
</head>


<body>
    @* <!-- HOME BAR -->
    <header class="homebar">

        <!-- Logo -->
        <div class="logo">
            <img src="~/images/Logo.png" alt="Logo">
            <p>Matrix Inc.</p>
        </div>

        <!-- Search bar -->
        <div class="search">
            <input type="text" placeholder="Zoek producten...">
        </div>

        <!-- Icons -->
        <div class="icons">

            <!-- Account -->
            <img src="~/images/Icon.png" alt="Icon">

            <!-- Wishlist -->
            <img src="~/images/Wishlist.png" alt="Wishlist">

            <!-- Cart -->
            <span class="icon" id="cart-icon">
                <img src="~/images/Cart.png" alt="Cart">
                <span>@Model.CartCount</span>
            </span>

        </div>

    </header> *@

    <main class="shop-layout">
        <aside class="category-sidebar">
            <div class="menu-item">
                Badkamer & sanitair

                <div class="submenu">
                    <button>Douches</button>

                    <button>Toiletten</button>

                    <button>Kranen</button>
                </div>
            </div>

            <div class="menu-item">
                Keuken

                <div class="submenu">
                    <button>Keukens</button>

                    <button>Apparatuur</button>

                    <button>Accessoires</button>
                </div>
            </div>

            <div class="menu-item">
                Woonkamer

                <div class="submenu">
                    <button>Keukens</button>

                    <button>Apparatuur</button>

                    <button>Accessoires</button>
                </div>
            </div>

            <div class="menu-item">
                Gast-Kamer

                <div class="submenu">
                    <button>Keukens</button>

                    <button>Apparatuur</button>

                    <button>Accessoires</button>
                </div>
            </div>

            <div class="menu-item">
                Tuin

                <div class="submenu">
                    <button>Keukens</button>

                    <button>Apparatuur</button>

                    <button>Accessoires</button>
                </div>
            </div>
        </aside>
        <!--door timo gemaakt-->
        <aside class="filter-sidebar">

            <h3>Filters</h3>
            <div class="input-group">
                <label for="SearchInputProduct">Search</label>
                <input id="SearchInputProduct" type="text" placeholder="Zoek producten...">
            </div>  
            <button id="sortLowToHigh">
                Price Low → High
            </button>

            <button id="sortHighToLow">
                Price High → Low
            </button>

            <hr>

            <div class="price-filter">

                <div class="input-group">
                    <label for="SearchLowestPrice">Minimum Price</label>
                    <input id="SearchLowestPrice"
                           type="number"
                           placeholder="0">
                </div>

                <div class="input-group">
                    <label for="SearchHighestPrice">Maximum Price</label>
                    <input id="SearchHighestPrice"
                           type="number">
                </div>

            </div>
            <p id="priceError"></p>
  
        </aside>

        <section class="product-section" id="ProductContainer">

            @foreach (var product in Model.Products)
            {
                <div class="product">
                    <a asp-page="/Products/Details"
                    asp-route-id="@product.Id">
                        <img src="~/images/product_@(product.Id).png" alt="@product.Name" />
                        <a asp-page="/Product" asp-route-id="@product.Id">
                            <h2>@product.Name</h2>
                        </a>
                    </a>

                    <p>@product.Description</p>

                    <p>€@product.Price</p>

                    <form method="post" asp-page-handler="AddToCart">
                        <input type="hidden" name="productId" value="@product.Id" />
                        <input type="hidden" name="name" value="@product.Name" />
                        <input type="hidden" name="price" value="@product.Price" />

                        <div class="quantity-selector">

                            <input type="number"
                            name="quantity"
                            value="1"
                            min="1"
                            class="qty-input" />

                        </div>
                        <button type="submit">
                            Add to cart
                        </button>
                    </form>
                </div>
            }

        </section>
    </main>

    <div class="cart-sidebar" id="cart-sidebar">

        <button class="close-cart" id="close-cart">✖</button>

        <div class="cart-title">
            <img src="~/images/Cart.png" alt="Cart">
        </div>

        @if (!Model.CartItems.Any())
        {
            <p>Cart is empty</p>
        }
        else
        {
            <ul>
                @foreach (var item in Model.CartItems)
                {
                    <li>
                        <div>
                            <strong>@item.Name</strong><br />
                        </div>

                        <div class="quantity-controls">

                            <form method="post" asp-page-handler="UpdateQuantity" style="display:inline;">
                                <input type="hidden" name="productId" value="@item.ProductId" />

                                <input type="number"
                                       name="quantity"
                                       value="@item.Quantity"
                                       min="1"
                                       style="width:60px;" />

                                <button type="submit">Update</button>
                            </form>

                            <form method="post" asp-page-handler="RemoveFromCart" style="display:inline;">
                                <input type="hidden" name="productId" value="@item.ProductId" />
                                <button type="submit">Remove</button>
                            </form>
                        </div>
                    </li>
                }
            </ul>

            <h3>
                Totaal: €@Model.CartTotal.ToString("0.00")
                 <a class="nav-link text-dark" asp-area="" asp-page="/Checkout">Checkout</a>

            </h3>
        }

        <div class="cart-buttons">

            <button class="checkout-button"onclick="window.location.href='/Checkout'">
                Afrekenen
               
            </button>

        </div>

    </div>

</body>

</html>
<script src="~/js/script.js"></script>